.popup-container {
  display: flex;
  flex-direction: column;
  width: 60vw;
}

.popup-image {
  background: url('./img/otway.jpg');
  background-size: 100%;
  width: 100%;
  border-radius: 5px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 5px 10px;
}

.popup-image h3 {
  color: white;
  font-size: 1.5rem;
}

.popup-main {
  width: 100%;
  height: 100%;
  margin: 8px;
  background: white;
}

.popup-description {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem !important;
}

.popup-description,
.popup-description h4,
.popup-description h3 {
  font-size: 1.5rem;
  margin: 0;
  line-height: 1rem;
}

.popup-description h3 {
  color: grey;
}

.splash-main {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: #642858;
}

.logoimage {
  width: 100%;
}

.logotext {
  width: 100%;
  text-align: center;
  font-size: 5rem;
  color: white;
  font-weight: bold;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-go {
  text-align: center;
  color: white;
  background: #ef263d;
  border-radius: 30px;
  margin-top: 30px;
  padding: 10px 40px;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.1);
}

.button-go:active {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
}

.navbar {
  width: 100%;
  background-color: #642858 !important;
  background-image: none !important;
  color: white !important;
}

.splash-description {
  display: flex;
  height: 60%;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 40px;
  color: white;
}

.map-data-cap-button {
  background-color: white;
  padding: 4px;
  width: 60%;
  border: 3px black solid;
  text-align: center;
  font-weight: bold;
}
